.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 0 90px 0;
}

.hero__buttom-buttons {
  display: flex;
  justify-content: center;
}