.middle-section {
  position: relative;
  padding-bottom: 110px;
  background-color: transparent;
}

.middle-section__triangles-top {
  height: 120px;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.middle-section__triangles-bottom {
  height: 95px;
  position: absolute;
  top: 100%;
  width: 100%;
}