.quote {
  padding-left: 20%;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 18%;
    height: 37%;
    opacity: .08;
    background: svg-load('quote.svg', fill=$text-color) center center / contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.quote__text {
  margin-bottom: 30px;
  padding-right: 20px;
  color: rgba($text-color, .6);
  font-weight: 600;
  line-height: 1.8;
}