.skills-row__title {
  color: $text-color;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
}

.skills-row__list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -4%;
}

.skills-row__item {
  margin-left: 5%;
}