.userinfo {
  text-align: center;
  padding-bottom: 24px;
}

.userinfo__title {
  font-size: 18px;
  color: rgba($text-color, .5);
  font-weight: 600;
  margin-bottom: 26px;
}

.userinfo__occ {
  white-space: nowrap;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 0.85;
}